name: Extract YouTube Shorts

on:
  workflow_dispatch:
    inputs:
      url:
        description: "YouTube Shorts URL"
        required: true

jobs:
  extract:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install yt-dlp
        run: pip install yt-dlp

      - name: Extract direct video URL
        run: |
          yt-dlp \
            --extractor-args "youtube:player_client=android,player_skip=webpage" \
            --user-agent "com.google.android.youtube/19.09.37 (Linux; U; Android 13)" \
            -t mp4 \
            --print url \
            "${{ github.event.inputs.url }}" \
            > video_url.txt


      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: video-url
          path: video_url.txt
